/* 헤더 */
#header .fl{
    position: relative;
    float:left;
    width: 80px;
    height: 20px;
    text-align: center;
    top: 40px;
    left: 40px;
}
#header .fr{
    position: relative;
    float:right;
    width: 80px;
    height: 20px;
    text-align: center;
    top: 40px;
    right: 20px;
}
#header{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}
#header .logo{
    position: relative;
    float:left;
    width: 270px;
    height: 100px;
    top: 10px;
    left: 20px;
}
#header .bn{
    position: relative;
}
#header .header::after {
    content: '';
    display: block;
    clear: both;
}