<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.seoulive.board.course.mapper.commentMapper">

    <!-- 작성   -->
    <insert id="commRegit" parameterType = "org.zerock.seoulive.board.course.domain.commVO">
        insert into tbl_comment (SEQ, WRITER,CONTENT,WRITE_DATE)
        values (#{SEQ}, #{WRITER}, #{CONTENT}, #{WRITE_DATE, jdbcType = DATE})
    </insert>

    <!--조회-->
    <select id="commList" resultType="org.zerock.seoulive.board.course.domain.commVO">
        select SEQ, WRITER, CONTENT, WRITE_DATE, BOARD_NAME, POST_SEQ
        from tbl_comment
        where post_seq = #{post_seq}
    </select>

    <!-- 삭제 -->
    <delete id="commDelete" >
        delete from tbl_comment where seq = #{seq}
    </delete>

    <!-- 수정   -->
    <update id="commUpdate" parameterType="org.zerock.seoulive.board.course.domain.commVO">
        update tbl_comment
        set content = #{content},
        modify_date = current_date
        where seq= #{seq}
    </update>

    <!-- 개수 -->
    <select id="commTotal" resultType="Integer">
        select count(seq) from tbl_comment where seq = #{seq}
    </select>

    <!-- seq: 댓글 게시판의 pk, board_name: 게시판 이름(free,course..),
    post_seq: 게시물 번호(course의 N번째 게시물)  -->
    <!-- 페이징 -->
    <select id="getListWithPaging" resultType="org.zerock.seoulive.board.course.domain.commVO">
        select seq, writer,content, write_date, board_name
        from tbl_comment
        where board_name = #{board_name}
        <!-- bno = #{bno}: fk  -->
        order by seq asc
    </select>
</mapper>