<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.seoulive.board.course.mapper.courseViewMapper">

    <select id="getList" resultType="org.zerock.seoulive.board.course.domain.CourseVO">
        SELECT *
        FROM tbl_course
        WHERE seq  <![CDATA[>]]> 0
    </select>

    <select id="read" resultType="org.zerock.seoulive.board.course.domain.CourseVO">
        SELECT *
        FROM tbl_course
        WHERE seq = #{seq}
    </select>

    <delete id="delete">
        delete from tbl_course where seq = #{seq}
    </delete>

    <update id="update">
        update tbl_course
        set writer = #{writer, jdbcType=VARCHAR},
        title = #{title,jdbcType=VARCHAR},
        review = #{review,jdbcType=VARCHAR},
        duration_start = #{duration_start,jdbcType=DATE},
        duration_end = #{duration_end,jdbcType=DATE},
        modify_date = sysdate
        where seq = #{seq, jdbcType=INTEGER}
    </update>



    <select id="courseTravelGetList" resultType="org.zerock.seoulive.board.course.domain.CourseTravelVO">
        SELECT tct.* , tt.title, tt.address
        FROM tbl_course_travel tct JOIN tbl_travel tt
        ON tct.travel_seq = tt.seq
        WHERE board_seq = #{seq}
    </select>

    <delete id="courseTravelDelete">
        delete from tbl_course_travel where seq = #{seq}
    </delete>

    <update id="CourseTravelUpdate">
        update tbl_course_travel
        set board_seq = #{board_seq},
        upload_seq = #{upload_seq},
        link = #{link},
        user_review = #{user_review}
        where seq= #{seq}
    </update>




</mapper>