<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.seoulive.board.course.persistence.CourseDAO">

    <select id="list" resultType="org.zerock.seoulive.board.course.domain.CourseVO">
        SELECT
            *
        FROM
            tbl_course
        WHERE
            seq > 0
    </select>

    <update id="updateUserWithRememberMe">
        UPDATE tbl_user
        SET
        rememberme = #{rememberme, jdbcType=VARCHAR},
        remembermeage = #{remembermeage, jdbcType=DATE}
        WHERE
        userid = #{userid}
    </update>

    <select id="selectUserByRememberMe" resultType="org.zerock.myapp.domain.UserVO">
        SELECT
        *
        FROM
        tbl_user
        WHERE
        rememberme = #{rememberme}
    </select>

</mapper>